*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #fffaf2;
    color: #243447;
    line-height: 1.6;
}
.header{
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding: 18px 6%;
    background-color:#fffaf2 ;
    border-bottom: 2px solid #243447;
}
.header h1{
    font-size: 28px;
    color: #243447;
}
nav{
    display: flex;
    gap: 25px;
}
nav a{
    text-decoration: none;
    color: #243447;
    font-weight: bold;
}
nav a:hover{
    color: #d96c4f;
}
.top search{
    display: flex;
    gap:8px;
}
.top search input{
    width: 150px;
    padding: 9px 12px;
    border: 1px solid #243447;
    border-radius: 20px;
    outline: none;
     background-color: whitesmoke;
}
button{
    border: none;
    padding: 9px 12px;
    border-radius: 20px;
    background-color: #d96c4f;
    color: azure;
    font-weight: bold;
    cursor: pointer;

}
button:hover{
    background-color: #b9573e;
} 
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 390px;
    padding: 60px 7%;
    background-color: #f4c95d;
}
.hero text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 850px;
}
.hero h2{
    font-size: clamp(40px,6vw,68px);
    line-height: 1.1;
    margin-bottom: 20px;
}